
.imagen{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*align-content: center;
    text-align: auto;*/   
}

.card{
    transition: all 0.3s;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0,0,0,.12), 0 8px 10px rgba(0,0,0,.06);
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#footer{
    width: 100%;
    height: 81px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.abs_center{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(200%);
  }
  