*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
}

section#menu{
    margin: 100px auto;
    width: 1200px;
    height: 230px;
    background-color: orange;

}

div.contenedor{

    width: 200px;
    height: 230px;
    float: left;
}

div#uno{
    background-color: rgb(208, 101, 3);
}

div#dos{
    background-color: rgb(233, 147, 26);
}

div#tres{
    background-color: rgb(22,147 ,190 );
}

div#cuatro{
    background-color: rgb(22, 107, 162);
}

div#cinco{
    background-color: rgb(27, 54,71 );
}

div#seis{
    background-color: rgb(21,40 ,54 );
}

img.icon{
    display: block;
    margin: 50px auto;
    background-color: rgba(255, 255,255, 0.15);
    width: 40px;
    padding: 20px;
    border-radius: 20%;

    box-shadow: 0px 1px 10px rgba(0,0, 0, 0.2);
    transition: all 400ms ease ;



}

p.texto{
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding-top: 10px;
    opacity: .6;
    animation: padding-top .4s;
}
div.contenedor:hover{
    height: 250px;
}
div.contenedor:hover p.texto{
    padding-top: 30px;
}
div.contenedor:hover img.icon{
    box-shadow: 0px 0px 0px 0px rgba(255, 255,255, .6);

}
